# PyCharm
.idea/

# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
venv/
.venv/
env/

# Dane i wagi modeli
dataset/
*.pt
*.pth
*.zip
*.tar.gz

# Logi i wyniki
*.log
*.pkl
*.docx
outputs/

# pliki PNG, oprocz assets/
*.png
!assets/**/*.png
!assets/*.png